

<ion-content>
  <ion-list>

        <ion-card *ngFor="let rest of recetas" [routerLink]="['./', rest.id]">
          <ion-row>
            <ion-col>
              <ion-card-content>
              <ion-label><strong>{{rest.titulo}}</strong></ion-label>
              <ion-img [src]="rest.imagen" size="5"></ion-img>
            </ion-card-content>
            </ion-col>
          </ion-row>
        </ion-card>

  </ion-list>

  <!-- fab que te manda a favoritos -->
  <!-- <ion-fab vertical="top" horizontal="end" slot="fixed">
    <ion-fab-button size="small" (click)="goToFav()" color="tertiary">
      <ion-icon name="bookmark"></ion-icon>
    </ion-fab-button>
  </ion-fab> -->

  <!-- https://ionicframework.com/docs/api/fab -->

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="goToAdd()" color="light">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <!-- Segment in a toolbar -->
<!-- <ion-toolbar>
  <ion-segment (ionChange)="segmentChanged($event)" value="camera" mode="ios">
    <ion-segment-button value="camera">
      <ion-icon name="camera"></ion-icon>
    </ion-segment-button>
    <ion-segment-button value="bookmark">
      <ion-icon name="bookmark"></ion-icon>
    </ion-segment-button>
  </ion-segment>
</ion-toolbar> -->

</ion-content>
